*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

nav {
  background-color: #F3B3A6;
}

section.first {
  background-color: #212D40;
}

section.second {
  background-color: #364156;
}

section.third {
  background-color: #7D4E57;
}

section.fourth {
  background-color: #D66853;
}

section.fifth {
  background-color: #C0CAAD;
}

section.sixth {
  background-color: #9DA9A0;
}

nav, section {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

@media only screen and (max-width:599px){
  nav {
    float:left;
    width: 100vw;
    height: 75px;
  }

  section {
    float:left;
    width: 100vw;
    height: 30vh;
    margin-top: 1vh;
  }
}

@media only screen and (min-width:600px){
  nav {
    float:left;
    width: 100vw;
    height: 75px;
  }

    .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    float:left;
    width: 49vw;
    height: 30vh;
    margin-top: 1vh;
  }
}

@media only screen and (min-width:1025px){
  nav {
    float:left;
    width: 100vw;
    height: 75px;
  }

  .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    float:left;
    width: 32.5vw;
    height: 30vh;
    margin-top: 1vh;
  }
}
